<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CosmeticsLibrary.Properties.Settings.CosmeticsConnectionString"
            connectionString="Data Source=DHAMMMIE-PC;Initial Catalog=Cosmetics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>